@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #101320;
    --color--secondary: #27ae60;
    --color--white: white;
    --color--black: black;
    --color--grey0: #f8f8f8;
    --color--grey-1: #dbe1e8;
    --color--grey-2: #b2becd;
    --color--grey-3: #6c7983;
    --color--grey-4: #454e56;
    --color--grey-5: #2a2e35;
    --color--grey-6: #12181b;
    --br-sm-2: 14px;
    --box--shadow-1: -4px 4px 10px rgba(0, 0, 0, 0.5);
    --box--shadow-2: 0 3px 15px rgba(0, 0, 0.3);
}

body {
    /* background-color: var(--color-primary); */
    font-size: 1.1rem;
    color: var(--color--white);
    transition: all 0.4s ease-in-out;
    font-family: "Poppins", sans-serif;
    overflow: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    min-height: 100vh;

}



.darking {
    background: url(images/darkbg.jpg)center center/ cover;
}

.back {
    transition: all 0.6s ease-in-out;
    background: url(images/zoe1.jpg) no-repeat center center/ cover;
    /* min-height: 150vh; */
    font-size: 1.1rem;
    color: var(--color--white);
    font-family: "Poppins", sans-serif;
    overflow: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    color: var(--color--white);
    min-height: 100vh;
    overflow: hidden;
    z-index: 2;
}

section {
    position: absolute;
    width: 120%;
    min-height: 100vh;
    left: 0;
    top: 0;
}

.section {
    transform: translateY(-100%) scale(1);
}

.sec1 {
    display: none;
    /* background-color: rgba(13, 13, 15, 0.2); */
    transform: translateY(0) scale(1);
}

.sec2 {
    position: relative;
    width: 80%;
    display: none;
    transform: translateY(0) scale(1);
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 auto;
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
    /* background-color: rgb(45, 46, 43); */
    position: relative;
    width: 80%;
    min-height: 110vh;
    display: none;
    transform: translateY(0) scale(1);
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 auto;
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);
    width: 80% !important;
    min-height: 110vh;
    /* background-color: blue; */
    margin: 0 auto 0 auto;
    position: relative;

}

.sec5 {
    display: none;
    transform: translateY(0) scale(1);
    /* background: url(images/zoe1.jpg) no-repeat center center/ cover; */
    width: 100%;
}

.controlls {

    z-index: 10;





    .active-btn {
        background-color: var(--color--secondary) !important;
        transition: all 0.4s ease-in-out;
    }

    .control {
        cursor: pointer;
        background-color: var(--color--grey-4);
        padding: 1rem;
        width: 5px;
        position: relative;
        height: 5px;
        margin: 0.5rem auto;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--box--shadow-2);

        i {
            pointer-events: none;
            color: white;
        }
    }
}

.theme-btn {
    position: absolute;
    z-index: 10;

    right: 2%;
    display: flex;
    align-items: center;
    transform: translateY(-40%);
    flex-direction: column;

    .theme {
        cursor: pointer;
        background-color: var(--color--grey-4);
        padding: 1rem;
        width: 5px;
        position: relative;
        height: 5px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--box--shadow-2);
        transition: all 0.1s ease-in-out;

        &:active {
            transform: translateY(-3px);
        }

        i {
            pointer-events: none;
            color: white;
        }
    }
}

@keyframes animaMode {
    0% {
        transform: translateY(-100%) scaleY(0);
    }

    100% {
        transform: translateY(0) scaleY(1);
    }
}

.active {
    display: block;
    animation: animaMode 0.9s ease-in-out;
}

.tooltip-text {
    min-width: 3rem;
    font-size: 0.6rem;
    position: absolute;
    text-align: center;
    z-index: 1;
    top: -14px;
    background-color: rgb(48, 44, 44);
    border: 0.1px solid var(--color--grey-3);
    border-radius: 2px;
    box-shadow: var(--box--shadow-2);
    visibility: hidden;
}

@keyframes animaModee {
    0% {
        transform: translateY(-100%) scale(0);
    }

    100% {
        transform: translate(0) scale();
    }
}

.control:hover .tooltip-text {
    animation: animaModee 0.6s ease-in;
    transform: translate(0) scale();
    visibility: visible;
}

/* styling header */
.mge {
    background: url(./images/zoe.jpg) no-repeat center center/ cover;
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 10;

    border: 1px solid black;
    border-radius: 7px;
    box-shadow: var(--box--shadow-2);
    transition: all 0.4s ease-in-out;
    filter: grayscale(0);

    &:hover {
        filter: grayscale(100%);
    }

    /* the multiple nesting of styles are made possible by using sass */
}

/* header-content */
.header-content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.right {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: left;


    transition: all 0.6s ease-in-out;
}

.active {
    display: block;
    animation: animaMode 0.9s ease-in-out;
}

.main-btn {
    position: relative;
    color: inherit;
    width: 100%;
    font-weight: 600;
    box-shadow: var(--box--shadow-2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 2rem;

    .btn-text {
        padding: 0 0.5rem;
    }

    .btn-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
        margin: 0 0.3rem;
        border-radius: 50%;
    }

    &::before {
        content: "";
        position: absolute;
        border-radius: 20px;
        transform: translateX(-100%);
        z-index: -1;
    }

    &:hover {
        &::before {
            width: 100%;
            height: 100%;
            background-color: var(--color--secondary);
            transition: all 0.4s ease-in-out;
            transform: translateX(0);
        }
    }
}

.btn-con {
    position: relative;
    align-self: flex-start;
    display: flex;
    width: 11rem;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to right, var(--color-primary), red ); */
    align-self: flex-start;
    box-shadow: var(--box--shadow-2);
    border-radius: 20px;
    border: 1px solid aqua;
    transition: background 3s ease-in-out;
    margin: 20px 0;
}

.btn-con {
    @apply hover:scale-110 transition ease-in-out duration-700
}

.btn-text {
    @apply text-sm
}

.social {
    @apply hover:scale-110 transition ease-in-out duration-700
}


.social {
    cursor: pointer;
    background-color: var(--color--grey-4);
    padding: 1rem;
    width: 5px;
    position: relative;

    height: 5px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box--shadow-2);

    i {
        pointer-events: none;
        color: white;
    }
}

.home_footer {
    @apply mt-4 mb-16 md:mb-auto
}


/* styling About section */
.main-title {
    text-align: center;
    margin: 10px auto 0 auto;

    .toptext {
        text-transform: uppercase;
        position: relative;


        .span {
            color: var(--color--secondary);
        }

        .bg-text {

            position: absolute;
            width: 70%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

        }
    }
}

.bg-text {
    @apply text-4xl
}

.h2p {
    @apply font-bold
}

.about-content {
    display: grid;
    position: relative;

    margin-top: 20px;

    /* 
    background-color: blue; */
    width: 100%;

    .left-about {
        font-family: "Times New Roman", Times, serif;
        display: flex;
        flex-direction: column;
        position: relative;

        .abtn {
            position: relative;
            margin: 1rem auto 0 auto;
            width: 160px;
        }
    }

    .right-about {



        position: relative;

        .about-items {
            position: relative;

            /* height: 8rem; */
            border: 1px solid var(--color-primary);
            border-radius: 3px;
            box-shadow: var(--box--shadow-1);
            transition: background 3s ease-in-out;


            &:hover {
                transform: translateY(-5px);
                border: 1px solid var(--color--secondary);
            }

            .large-text {
                color: var(--color--secondary);
                font-weight: 600;
                font-size: 1.5rem;
            }

            .small-text {
                display: flex;
                justify-content: center;
                color: var(--color--grey-2);
                font-weight: 700;
                font-size: 1rem;
            }
        }
    }
}

.stats {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: chartreuse; */
    /* margin: 1rem 32px 0 32px; */

    .Mystats-con {
        margin: 30px auto 10px auto;
    }

    .progress-container {

        position: relative;
        /* background-color: blueviolet; */
        width: 100%;


        .progress {
            display: flex;
            flex-direction: column;

            .status-line {
                position: relative;
                display: flex;
                width: 100%;
                flex-direction: row;
                align-items: center;
                z-index: -1;
                gap: 10px;

                .num {
                    color: #27ae60;
                }

                .status-bar {
                    position: relative;
                    background-color: var(--color--grey-5);
                    height: 0.5rem;
                    box-shadow: var(--box--shadow-2);
                    border: 1px solid var(--color--grey-3);
                    border-radius: 4px;
                    width: 85%;
                    z-index: -2;


                    .htm {
                        display: block;
                        position: relative;
                        background-color: var(--color--secondary);
                        box-shadow: var(--box--shadow-2);
                        z-index: 10;
                        height: 100%;
                        border-radius: 4px;
                        width: 85%;
                    }

                    .css {
                        display: block;
                        position: relative;
                        background-color: var(--color--secondary);
                        z-index: 2;
                        height: 100%;
                        width: 70%;
                        border-radius: 4px;
                    }

                    .javascript {
                        display: block;
                        position: relative;
                        background-color: var(--color--secondary);
                        z-index: 2;
                        height: 100%;
                        width: 65%;
                        border-radius: 4px;
                    }

                    .bot {
                        display: block;
                        position: relative;
                        background-color: var(--color--secondary);
                        z-index: 2;
                        height: 100%;
                        width: 70%;
                        border-radius: 4px;
                    }

                    .github {
                        display: block;
                        position: relative;
                        background-color: var(--color--secondary);
                        z-index: 2;
                        height: 100%;
                        width: 50%;
                        border-radius: 4px;
                    }

                    .git {
                        display: block;
                        position: relative;
                        background-color: var(--color--secondary);
                        z-index: 2;
                        height: 100%;
                        width: 55%;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}

.timeline {

    margin: 20px 0;
    /* position: relative; */

    .timeline-items {
        background-color: transparent;
        position: relative;

        .timeline-icon {
            cursor: pointer;
            background-color: var(--color--secondary);
            padding: 1rem;
            width: 5px;
            position: relative;
            height: 5px;
            /* margin: 0.5rem auto; */
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: var(--box--shadow-2);

            i {
                pointer-events: none;
                color: white;
            }
        }
    }

    .info {
        position: relative;
        padding-left: 42px;
        margin-top: -30px;

        .job {
            color: var(--color--grey-3);
        }

        .tl-duration {
            position: relative;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            background-color: var(--color--grey-6);
            width: 30%;
            height: 5%;
            font-size: 0.7rem;
            box-shadow: var(--box--shadow-2);
            border-radius: 3px;
            border: 2px solid var(--color--grey-5);
        }

        .space {
            margin: 10px 0 5px 0;
        }

        .spc {
            margin-top: -5px;
        }

        .discription {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 2rem;
            font-size: 0.9rem;
            color: var(--color--grey-3);
        }
    }
}


/* Styling the portfolio */
.intro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: var(--color--grey-2);
}

.mainp {
    padding-top: 10px;
}


.project {

    @apply relative h-32 hover:scale-110 transition ease-in-out duration-700
}

.portfolio-container {




    margin: 0 auto 20px auto;

    transition: all 0.4s ease-in-out;

    .project {
        border: 2px solid var(--color--grey-5);
        box-shadow: var(--box--shadow-2);
        border-radius: 5px;
        position: relative;


        transition: all 0.4s ease-in-out;

        &:hover {
            border: 2px solid var(--color--grey-2);

            .picon {
                background-color: var(--color--secondary);
                transition: all 0.6s ease-in-out;

                .link {
                    z-index: 1;
                    transition: all 0.7s ease-in-out;
                }

                .source {
                    visibility: visible;
                    transform: translateY(0);
                    transition: all 0.7s ease-in-out;
                }
            }
        }

        .picon {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            .source {
                position: absolute;
                display: flex;
                flex-direction: row;
                gap: 50px;
                top: 1rem;
                transform: translateY(-150%);
                visibility: hidden;
                color: var(--color--grey-1);
                font-weight: 800;
                font-size: 1.5rem;
            }
        }

        .link {
            cursor: pointer;
            background-color: var(--color--grey-5);
            padding: 1rem;
            width: 5px;
            position: relative;
            height: 5px;
            /* margin: 0.5rem auto; */
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;
            box-shadow: var(--box--shadow-2);

            &:hover {
                background-color: var(--color--grey-2);
            }

            i {
                pointer-events: none;
                color: white;
            }
        }
    }

    .tlist {
        background: url(images/tlist.jpg) no-repeat center center/ cover;
    }

    .stopwatch {
        background: url(images/stopwatch.jpg) no-repeat center center/ cover;
    }

    .accordion {
        background: url(images/accordion.jpg) no-repeat center center/ cover;
    }

    .dice {
        background: url(images/dice.jpg) no-repeat center center/ cover;
    }

    .quoate {
        background: url(images/quoate.jpg) no-repeat center center/ cover;
    }

    .drum {
        background: url(images/drum.jpg) no-repeat center center/ cover;
    }
}

.below {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.5rem;
    gap: 2px;
}

.arr {
    position: relative;
    left: 50%;
}






/* Styling Blog */
.sec4 {
    position: relative;
    width: 100%;
}


.blog-container {
    position: relative;
    display: grid;
    width: 80%;
    justify-content: space-between;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    transition: all 0.4s ease-in-out;

    .blog {
        width: 90%;

        display: flex;
        justify-content: center;
        position: relative;

        align-items: center;
        border: 2px solid var(--color--grey-4);
        box-shadow: var(--box--shadow-2);
        border-radius: 3px;
        flex-direction: column;
        margin: 0 auto 0 auto;
        transition: all 0.4s ease-in-out;

        .words {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100% !important;
            filter: grayscale(0);
            background-color: var(--color-primary);
            z-index: 1;
            transition: all 0.4s ease-in-out;
        }

        .bl {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100% !important;

            .dropp {
                margin-top: -6rem;
                font-weight: 900;
                font-size: 1.3rem;
                visibility: hidden;
                color: chartreuse;
                transform: translateY(0);
                transition: all 0.4s ease-in-out;
            }
        }

        .bl:hover {
            border-radius: 5px;
            box-shadow: var(--box--shadow-1);
            transform: translateY(-10px);
            transition: all 0.4s ease-in-out;
            filter: grayscale(50%);
            transform: scale(1.1);
            z-index: 2;

            #txt {
                font-size: x-small;
            }

            .dropp {
                transform: translateY(-5px);
                z-index: 10;
                font-weight: 900;
                font-size: 1.3rem;
                filter: grayscale(0);
                visibility: visible;
                transition: all 0.4s ease-in-out;
            }
        }

        .bl1 {
            width: 15rem;
            height: 10rem;
            background: url(images/create.jpg) no-repeat center center/ cover;
            z-index: 2;
        }

        .bl2 {
            width: 15rem;
            height: 10rem;
            background: url(images/goal.jpg) no-repeat center center/ cover;
            z-index: 2;
        }

        .bl3 {
            width: 15rem;
            height: 10rem;

            background: url(images/better.jpg) no-repeat center center/ cover;
            z-index: 2;
        }

        .bl4 {
            width: 15rem;
            height: 10rem;
            background: url(images/debug.jpg) no-repeat center center/ cover;
            z-index: 2;
        }

        .bl5 {
            width: 15rem;
            height: 10rem;
            background: url(images/front.jpg) no-repeat center center/ cover;
            z-index: 2;
        }

        .bl6 {
            width: 15rem;
            height: 10rem;
            background: url(images/stacking.jpg) no-repeat center center/ cover;
        }

        .contentt {
            font-size: 0.9rem;
            color: var(--color--grey-3);
            font-weight: 50;
            margin-top: 0.5rem;
            margin-left: 5px;
        }
    }
}

.headline {
    @apply font-bold w-44 md:w-48
}

.blog {
    @apply relative
}

/* Contact Styling */
.contactme {
    position: relative;
    width: 50%;
    margin-left: 16%;
    text-align: center;
    margin: 0 auto 0 auto;

    #h2 {
        text-transform: uppercase;
        position: relative;
        font-weight: 700;
        font-size: 3rem;

        .span {
            color: var(--color--secondary);
        }

        .bg-text {
            color: var(--color--grey-5);
            position: absolute;
            width: 70%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            font-weight: 800;
        }
    }
}

.sec5 {
    min-height: 120vh;
}

.secchild {
    position: relative;
    width: 80%;
    margin: 0 auto 0 auto;

    .loremtxt {
        position: relative;
        width: 30%;
        margin-left: 12%;
        z-index: 10;
    }

    .tact {
        position: relative;
        width: 60%;
        margin-left: 12%;
        z-index: 10;
        margin-top: 10px;
    }

    .contact-form {
        position: relative;
        width: 100%;
        margin: 0 auto 50px auto;
        min-height: 500px !important;


        .form-con {
            position: relative;
            width: 90%;
            margin-bottom: 20px;
            padding: 0 0.5rem 0 1rem;
        }

        .form-group {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
        }

        .others {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 0.5rem;
            flex-wrap: wrap;

            .conInfo {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;

            }

            .cspace {
                margin-top: 2rem;
            }

            .contact-btn {
                position: relative;
                margin: 2rem auto 0 auto;
            }

            .fonts {
                background-color: var(--color--grey-4);
                padding: 1rem;
                width: 5px;
                position: relative;
                height: 5px;

                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: var(--box--shadow-2);
            }

            .Details {
                display: flex;
                gap: 0.3rem;
                flex-wrap: wrap;
            }
        }
    }
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: rgb(93, 89, 90);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.inn {
    background-color: rgba(135, 132, 132, 0.5);
}

.contact-btn {
    position: absolute;

    z-index: 12;
    background-color: rgba(0, 0, 0, 0.5);
}

.submit-button:hover {
    background-color: #45a049;
}

@media (min-width:700px) {
    .sec1 {
        min-height: 80vh;
    }

    .portfolio-container {
        width: 70%;
    }

    .controlls {
        right: 2%;
    }
}

@media (max-width:700px) {
    .blog-container {
        width: 100%;
    }

    .sec4 {
        width: 100% !important;
    }

    .blog-container {
        margin:50px auto 100px auto;
    }
}